body {
    position: relative;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #bddab1;
    margin: 0;
    padding: 0;
}

.mapboxgl-ctrl-group {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    margin: 10px;
    padding: 10px;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: calc(30vw - 40px);
    min-height: calc(100vh - 40px);
}

.mapboxgl-ctrl-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.mapboxgl-ctrl-group input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* So padding doesn't affect the width */
}

.mapboxgl-ctrl-icon.mapboxgl-filter-switch {
    height: 30px;
    cursor: pointer;

}

div#results {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

ul#result-list {
    list-style: none;
    padding: 0;
}

div#results ul#result-list li {
    margin: 3px;
    list-style: none;
    padding: 6px 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);

}

div#results span {
    font-weight: bold;
    margin: 3px;
    padding: 6px 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    line-height: 3em;
}

.map {
    position: absolute;
    top: 0;
    left: 30vw;
    width: 70vw;
    height: 100vh;
}

iframe {
    border: none; /* Remove the default border */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .mapboxgl-ctrl-group {
        position: relative;
        width: 90%;
        min-height: auto;
        margin: 10px auto;
    }
    
    .map {
        height: 80vh;
        position: relative;
        left: 0;
        width: 100%;
    }
}
