<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Das ist der Weg</title>
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    <body>

        <!-- Your other HTML content goes here -->

        {{ mapbox_filter_control.render() | safe }}

        {{ map.render() | safe }}


        <!-- Include any additional scripts or scripts as needed -->
        <script>
            function search() {
                // Werte aus den Eingabefeldern abrufen
                var start = document.getElementById('start').value;
                var end = document.getElementById('end').value;
                var algorithm = document.getElementById('algorithm').value;

                // AJAX-Aufruf an den Flask-Server machen
                fetch('/search', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        start: start,
                        end: end,
                        algorithm: algorithm
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(response.status + ' ' + response.statusText + ' ' + response.url);
                    }
                    return response.json();
                })
                .then(data => {
                    // Ergebnisse im 'results'-Div anzeigen
                    var resultsDiv = document.getElementById('results');
                    var map_frame = document.getElementById('map_frame');
                    console.log(data);
                    var shortest = data.shortest_route;
                    var stats = data.search_stats;

                    var renderResults = '';

                    renderResults = '<span>' + stats.distance + ' km</span>';
                    renderResults += '<span>' + stats.duration + ' min</span>';
                    renderResults += '<span>' + stats.visited_nodes_count + '</span>';
                    renderResults += '<span>' + stats.execution_time + ' ms</span>';
                    renderResults += '<br/><b>Kürzester Weg:</b><ul id="result-list">';
                    for (var i = 0; i < shortest.length; i++) {
                        renderResults += '<li>' + shortest[i] + '</li>';
                    }
                    renderResults += '</ul>';

                    resultsDiv.innerHTML = renderResults;
                    map_frame.src = map_frame.src;

                })
                .catch(error => {
                    console.error('Es gab ein Problem mit dem Fetch-Aufruf:', error);
                    // Fehlermeldung im 'results'-Div anzeigen
                    var resultsDiv = document.getElementById('results');
                    resultsDiv.innerHTML = 'Fehler bei Aufruf: ' + error;
                });
            }
        </script>
    </body>
</html>
